{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends 'elements/list.html.twig' %}

{% set filters = paypal_history.filters %}

{% set form = {
    'order': {
        'name': "paypal_history"
    }
} %}

{% block infoline %}
    {% set infoline = {
        'label': _Tn("%1$s entry", "%1$s entries", nb)|format(nb),
        'route': {
            'name': 'filter_paypal_history'
        }
    } %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {% set no_action = true %}
    {% set columns = [
        {
            'label': '#',
            'collapse': true
        },
        {
            'label': _T("Date"), 'order': constant("Galette\\Filters\\HistoryList::ORDERBY_DATE"),
            'collapse': true
        },
        {
            'label': _T("Name"),
            'collapse': true
        },
        {
            'label': _T("Subject"),
            'collapse': true
        },
        {
            'label': _T("Amount"),
            'collapse': true
        },
        {'label': _T("Request", "paypal")}
    ] %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for log in logs %}
        <tr>
            <td class="collapsing" data-scope="row">
                {{ loop.index }}
                <span class="visually-hidden">
                    {{ _T("History entry %id")|replace({'%id': loop.index}) }}
                </span>
            </td>
            <td class="collapsing" data-col-label="{{ _T("Date") }}">
                {{ log.history_date|date(_T("Y-m-d H:i:s")) }}
                {% if log.duplicate is defined %}
                    <i class="exclamation circle red icon tooltip" data-html="{{ _T("duplicate", "paypal") }}"></i>
                    <span class="visually-hidden">
                        {{ _T("duplicate", "paypal") }}
                    </span>
                {% endif %}
            </td>
            <td class="collapsing" data-col-label="{{ _T("Name") }}">
        {% if log.request is iterable %}
            {% if log.request.custom is defined %}
                <a href="{{ url_for("member", {"id": log.request.custom}) }}">
            {% endif %}
                {{ log.request.last_name }} {{ log.request.first_name }}
            {% if log.request.custom is defined%}
                </a>
            {% endif %}
        {% else %}
                {{ _T("No request or unable to read request", "paypal") }}
        {% endif %}
            </td>
            <td class="collapsing" data-col-label="{{ _T("Subject") }}">
        {% if log.request is iterable %}
                {{ log.request.item_name }}
        {% endif %}
            </td>
            <td class="collapsing" data-col-label="{{ _T("Amount") }}">
        {% if log.request is iterable%}
                {{ log.request.mc_gross }}
        {% endif %}
            </td>
            <td data-col-label="{{ _T("Request", "paypal") }}">
                <details class="ui basic styled accordion">
                    <summary class="title">
                        <i class="caret down icon" aria-hidden="true"></i> {{ _T("Show/hide full request", "paypal") }}
                    </summary>
                    <div class="content">
                        <pre>{{ log.raw_request }}</pre>
                    </div>
                </details>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="6" class="emptylist">{{ _T("logs are empty") }}</td></tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
        <script type="text/javascript">
            $('#nbshow').change(function() {
                this.form.submit();
            });
        </script>
{% endblock %}
